[submodule "MeowDSIO"]
	path = MeowDSIO
	url = https://github.com/Meowmaritus/MeowDSIO
[submodule "SoulsFormats"]
	path = SoulsFormats
	url = https://github.com/Meowmaritus/SoulsFormats
[submodule "DSLuaDecompiler"]
	path = DSLuaDecompiler
	url = https://github.com/katalash/DSLuaDecompiler.git
